
.wrapper{
    padding-top: 90px;
    width: 400px;
    height: 600px;
    background:white;
}
.xxx{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: -webkit-linear-gradient(top, #6a6da9 1%,#585eaa 50%,#494e8f 100%);

}



.imagePicker{
    width:120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
}
.imagePicker img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;  
}
.imagePicker input[type=file]{
    position: absolute;
    height: 100%;
    background: red;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;

}
.imagePicker .mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    color: white;

}
.imagePicker:hover .mask{
    display: flex;
}
.text{
    text-align: left;
    width: 200px;
    padding-left: 30px;
    margin-left: 88px;
    margin-top: 60px;
    padding-bottom: 30px;
    background: rgba(46, 18, 45, 0.2);
    border-radius: 5px;
}
.text span:nth-child(1){
    margin-top: 20px;
    display: inline-block;
}
.text span{
    margin-top:15px;
    display: inline-block;
    color: #694d9f;

    width: 180px;
}